* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-header {
  background-color: red;
  height: 12%;
  width: 100%;
  padding: 4px;
  /* display: flex; */
}

.main-header > .header-logo {
  width: 10%;
  height: 99%;
  margin-right: 5px;
}

.sub-header {
  background-color: black;
  height: 10%;
  width: 100%;
}
