.navbar {
  background-color: #ccc;
  padding: 10px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
  color: rgb(66, 54, 54);
}

.nav-items {
  list-style: none;
}

.nav-link .nav-items {
  margin-left: 15px;
  font-size: 20px;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
}
