* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
}

.item {
  background-color: aliceblue;
  padding: 40px;
  margin: 30px;
  color: teal;
  font-size: 40px;
}
